{% extends "base.html" %}
{% block title %}Archives{%endblock%}
{% block content %}

<dl>
    <h1>{% trans %}Archives{% endtrans %}</h1>
    {% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}
        <h2>{{ year }}</h2>
        <ul class="archive-list">
        {% for article in date_year %}
            <li><span class="text-muted">{{article.locale_date}} &raquo; </span><a href="{{ SITEURL }}/{{ article.url }}">{{article.title}}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
</dl>
{% endblock %}
