    {% extends "base.html" %}
    {% block title %}{{ article.title }} - {{SITENAME}}{% endblock title %}
    {% block content %}
    <section id="content" class="article content">
      <header>
        <h1 class="entry-title">
          {{ article.title }}
        </h1>
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
        <div class="text-muted">{{ article.locale_date }}</div>
      <!-- /.post-info -->
      <div class="post-info text-muted">
        {% if article.tags %}
        {% for tag in article.tags %}
        <button type="button" class="btn btn-default">
          <a href="{{ SITEURL }}/{{ tag.url }}"><div class="fa fa-lg fa-tag"></div> {{ tag }}</a>
        </button>
        {% endfor %}
        {% endif %}
      </div>
      {% if article.series %}
          <p>{% trans %}Part of the{% endtrans %} "{{ article.series.name }}"{% trans %} series:{% endtrans %}</p>
          <ol class="parts">
              {% for part_article in article.series.all %}
                  {% if part_article == article %}
                      <li class="active">
                          {{ part_article.title }}
                      </li>
                  {% else %}
                      <li>
                          <a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}</a>
                      </li>
                  {% endif %}
              {% endfor %}
          </ol>
      {% endif %}
      </header>
<!-- .entry-content -->
      <div class="entry-content">
        {{ article.content }}
      </div>
<!-- /.entry-content -->
    </section>
    {% endblock %}
