    {% extends "base.html" %}
    {% block title %}{{ page.title }} - {{SITENAME}}{% endblock title %}
    {% block content %}
    <section id="content" class="article content">
      <header>
        <h1 class="entry-title">
          {{ page.title }}
        </h1>
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(page) }}
      </header>
<!-- .entry-content -->
      <div class="entry-content">
        {{ page.content }}
      </div>
<!-- /.entry-content -->
    </section>    
    {% endblock %}
