      {% if DEFAULT_PAGINATION %}
      <div>
        <ul class="pager">
          {% if articles_page.has_previous() %}
          {% set num = articles_page.previous_page_number() %}
          <li class="previous"><a href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">&larr; {% trans %}Previous{% endtrans %}</a></li>
          {% else %}
          <!--- <li class="previous disabled"><a>&larr; Previous</a></li> -->
          {% endif %}
          <li ><a href="{{ SITEURL }}/archives.html">{% trans %}All{% endtrans %}</a></li>
          {% if articles_page.has_next() %}
          <li class="next"><a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">{% trans %}Next{% endtrans %} &rarr;</a></li>
          {% else %}
          <!--- <li class="next disabled"><a>Next &rarr;</a></li> -->
          {% endif %}
        </ul>
      </div>
      {% endif %}
