{% extends "index.html" %}
{% block title %}{{ SITENAME }} - {{ tag }}{% endblock %}
{% block navclass %}{%endblock%}
{% block archclass %}active{%endblock%}
{% block content_title %}
      <ol class="breadcrumb">
        <li><a href="{{SITEURL}}/tags.html"><div class="fa fa-lg fa-tags"></div> {% trans %}Tags{% endtrans %} <span class="badge">{{ tags|count }}</span></a></li>
        <li class="active"><div class="fa fa-lg fa-tag"></div> {{ tag }} <span class="badge">{{ articles|count }}</span></li>
      </ol>
{% endblock %}
