{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {% trans %}Tags{% endtrans %}{% endblock %}
{% block archclass %} class="active"{%endblock%}
{% block content %}
      <ol class="breadcrumb">
        <li class="active"><div class="fa fa-lg fa-tags"></div> {% trans %}Tags{% endtrans %} <span class="badge">{{ tags|count }}</span></li>
      </ol>

      <ul class="list-inline">
        {%- for tag, articles in tags|sort %}
        <li>
          <button type="button" class="btn btn-default">
            <a href="{{ SITEURL }}/{{ tag.url }}">
              <div class="fa fa-lg fa-tag"></div> {{ tag }} <span class="badge">{{ articles|count }}</span>
            </a>
          </button>
        </li>
        {% endfor %}
      </ul>
{% endblock %}
